<div class="list-group">

  <button type="button" class="side-menu list-group-item list-group-item-action" id="dropdownMenuButton"
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <a>
      <mat-icon class="mat-menu" aria-hidden="false" aria-labelledby="">person_pin</mat-icon>
    </a>
    <a>
      Customer
    </a>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <button type="button" class="list-group-item list-group-item-action" [routerLink]="['/add-customer']">Add</button>
    <button type="button" class="list-group-item list-group-item-action" [routerLink]="['/view-customer']">View</button>
    <button type="button" class="list-group-item list-group-item-action" [routerLink]="['']">Sample</button>
  </div>
</div>