<div class="card">
    <div class="card-header">
        Add Customer
    </div>
    <div class="card-body">
        <form #formData>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="inputGender">Gender</label>
                    <select class="custom-select mr-sm-2" id="inputGender">
                        <option selected>Choose...</option>
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputTitle">Title</label>
                    <select class="custom-select mr-sm-2" id="inputGender">
                        <option selected>Choose...</option>
                        <option value="1">Mr</option>
                        <option value="2">Mrs</option>
                        <option value="3">Ms</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputOccupation">Occupation</label>
                    <input type="text" class="form-control" id="inputOccupation" placeholder="Occupation">
                </div>

            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputFirstName">First Name</label>
                    <input type="text" class="form-control" id="inputFirstName" placeholder="First Name">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputLastName">Last Name</label>
                    <input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label for="inputEmail">Email</label>
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputDateOfBirth">Date of birth</label>
                    <input type="date" class="form-control" id="inputDateOfBirth">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label for="inputAddress">Address</label>
                    <textarea class="form-control" id="inputAddress" rows="3"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-dark">Add Customer</button>
        </form>
    </div>
</div>