
<div class="list-group">
  <button type="button" class="list-group-item list-group-item-action btn-block" id="dropdownMenuButton"
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Customer
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <button type="button" class="list-group-item list-group-item-action" [routerLink]="['/add-customer']">Add</button>
    <button type="button" class="list-group-item list-group-item-action" [routerLink]="['/view-customer']">View</button>
    <button type="button" class="list-group-item list-group-item-action">Loyalty</button>
  </div>
</div>
